.fondo{
    -fx-background-color: #2D2D2D;
    -fx-background-size: 100% 100%;
}
.button{
    -fx-background-color: transparent;
}
.button:hover{
    -fx-scale-x: 1.15;
    -fx-scale-y: 1.15;
}
.label1:hover{
    -fx-text-fill: #00FFE0;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}
.border.style{
    -fx-border-style: solid;
    -fx-border-color: #FFFFFF;
    -fx-border-insets: 5;
    -fx-border-width: 3;
}