.panel1{
    -fx-background-image: url("../../resources/hero.jpg");
    -fx-background-size: 100% 100%;
}
.TextField{
    -fx-background-radius: 30px;
}
.buttonA{
    -fx-background-color: transparent;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-color: WHITE;
}
.buttonA:hover{
    -fx-scale-x: 1.15;
    -fx-scale-y: 1.15;
}
.lupa{
    -fx-background-color: transparent;
}
.lupa:hover{
    -fx-scale-x: 1.15;
    -fx-scale-y: 1.15;
}
.label1:hover{
    -fx-text-fill: #00FFE0;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}
.profile{
    -fx-background-color: transparent;
}
.profile:hover{
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}
.profimag{
    -fx-image: url("../../resources/profile.png");
}
.profimag:hover{
    -fx-image: url("../../resources/hoverprofile.png");
}

