.panel1{
    -fx-background-image: url("../../resources/hero.jpg");
    -fx-background-size: 100% 100%;
}
.TextField{
    -fx-background-radius: 30px;
}
.advsearch{
    -fx-background-color: transparent;
    -fx-border-style: solid;
    -fx-border-width: 2px;
    -fx-border-color: WHITE;
}
.advsearch:hover{
    -fx-scale-x: 1.15;
    -fx-scale-y: 1.15;
}
.label1:hover{
    -fx-text-fill: #00FFE0;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}
.lupa{
    -fx-background-color: transparent;
}
.lupa:hover{
    -fx-scale-x: 1.15;
    -fx-scale-y: 1.15;
}
.profilePane{
    -fx-background-radius: 20px;
    -fx-background-color: WHITE;
}
.logout{
    -fx-background-color: linear-gradient(to right, #009d9d 0%, #006600 100%);
    -fx-background-radius: 40px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.7), 4, 0, 0, 3);
}
.logout:hover{
    -fx-background-color: linear-gradient(to left, #ff3300 0%, #ffff66 100%);
}
.logout:pressed{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0), 0, 0, 0, 0);
    -fx-translate-y: 4px;
}
.myprofile:hover{
    -fx-text-fill: #009d9d ;
}
.myevents:hover{
    -fx-text-fill: #009d9d;
}
.profile{
    -fx-background-color: transparent;
}
.profile:hover{
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}