.fondo{
    -fx-background-color: #2D2D2D;
    -fx-background-size: 100% 100%;
}
.cabecera{
    -fx-background-color: #535353;
    -fx-position: absolute;
}
.button{
    -fx-background-color: transparent;
}
.button:hover{
    -fx-scale-x: 1.15;
    -fx-scale-y: 1.15;
}
.label1:hover{
    -fx-text-fill: #00FFE0;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}
.scroll-pane {
    -fx-background-color:  #d1d1d1;
}
.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}
.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #4f4f4f;
    -fx-background-radius: 5em;
}
.scroll-pane > .corner {
    -fx-background-color: #d1d1d1;
}